* {
    box-sizing: border-box;
    color: #333;
  }
  
  body {
    background-color: #81a69b;
    background-image: url(../assets/main-bg.jpg);
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  header > a,
  #root > div > h1 {
    display: inline-block;
    filter: brightness(150%);
    width: 279px;
    height: 76px;
    overflow: hidden;
    margin: 20px 0;
  }

  footer {
    position: fixed;
    bottom: 0;
    right: 0.5%;
  }
  